@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-size: 14px;
  color: rgb(50, 50, 50);
  font-family: "Montserrat", sans-serif;
  line-height: 1.58;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.button {
  background-color: rgb(73, 133, 255);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 14px 42px;
  font-weight: 500;
  font-size: 16px;
  border: 0;
  line-height: 1;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  line-height: 1.46;
  color: rgb(50, 50, 50);
}
.title--color {
  color: rgb(255, 255, 255);
}

.header {
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid rgb(161, 161, 161);
  position: fixed;
  width: 100vw;
}
.header__container {
  display: flex;
  justify-content: flex-end;
}
.header__list {
  display: flex;
}
.header__link {
  padding-inline: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  position: relative;
}
.header__link--current::before {
  content: "";
  width: 107px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: rgb(255, 255, 255);
  bottom: -40px;
  left: 0;
}

.hero {
  background-image: url(../images/desktop/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 259px;
  padding-bottom: 339px;
  height: 100vh;
  text-align: center;
}
.hero__title {
  font-size: 48px;
  color: rgb(255, 255, 255);
  line-height: 1.34;
  font-weight: 800;
  padding-bottom: 50px;
}
.hero__subtitle {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
}

.mobile {
  padding: 110px 0px 105px 0px;
  text-align: center;
}
.mobile__text {
  font-size: 16px;
  text-align: center;
  color: rgb(153, 153, 153);
  font-weight: 400;
  padding-top: 32px;
}
.mobile__list {
  display: flex;
  gap: 27px;
  padding-bottom: 55px;
  padding-top: 70px;
}
.mobile__subtitle {
  font-size: 18px;
  padding-bottom: 12px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.mobile__desc {
  font-weight: 400;
  color: rgb(153, 153, 153);
}
.mobile__icon {
  width: 40px;
  height: 40px;
  fill: rgb(73, 133, 255);
}
.mobile__icon-in {
  border: 1px solid rgb(73, 133, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
}
.mobile__icon-out {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 50%;
  display: inline-block;
  padding: 9px;
  position: relative;
  bottom: 37px;
}
.mobile__item {
  display: flex;
  gap: 17px;
  text-align: left;
}

.standarts {
  background-color: rgb(246, 246, 248);
  padding-top: 100px;
  padding-bottom: 70px;
}
.standarts__container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.standarts__wrapper {
  display: flex;
  gap: 121px;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 90px;
}
.standarts__link {
  text-decoration: underline;
  font-size: 16px;
  line-height: 1;
  color: rgb(73, 133, 255);
}
.standarts__desc {
  padding-top: 60px;
  padding-bottom: 42px;
  font-size: 16px;
  color: rgb(153, 153, 153);
  width: 489px;
}
.standarts__img {
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
}
.standarts__list {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.standarts__icon {
  width: 30px;
  height: 30px;
  fill: rgb(73, 133, 255);
}
.standarts__item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding-left: 20px;
}
.standarts__item-desc {
  font-size: 16px;
  color: rgb(153, 153, 153);
}

.projects {
  background-color: #F6F6F8;
  padding-top: 100px;
  padding-bottom: 130px;
  text-align: center;
}
.projects__text {
  margin-top: 28px;
  font-size: 16px;
  line-height: 158%;
  align-items: center;
  color: #999999;
  text-align: center;
  margin-bottom: 92px;
}
.projects__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.video {
  padding-top: 70px;
  padding-bottom: 165px;
  border-bottom: 1px solid rgb(224, 224, 224);
  text-align: center;
  color: rgb(255, 255, 255);
  /* Тим часавом */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15)), url(../images/desktop/hero-bg.jpg);
  background-size: cover;
}
.video__desc {
  padding-top: 30px;
  line-height: 1.58;
  font-size: 16px;
  padding-bottom: 70px;
}
.video__img {
  margin: 0 auto;
  background-image: url(../images/desktop/video.png);
  width: 970px;
  height: 430px;
  border-radius: 10px;
  text-align: center;
  z-index: 5;
}
.video__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.58;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 200px;
  padding: 20px 40px;
  color: rgb(255, 255, 255);
  /* Як поставити текст по центру? */
  position: relative;
  bottom: -165px;
}

.subscribe {
  padding-top: 85px;
  padding-bottom: 85px;
  text-align: center;
  border-top: 1px solid rgb(224, 224, 224);
}
.subscribe__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.subscribe__desc {
  font-size: 16px;
  line-height: 1.58;
  color: rgb(153, 153, 153);
  margin-bottom: 30px;
}
.subscribe__form {
  display: block;
  width: 489px;
  background: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 40px;
  margin: 0 auto 24px;
  position: relative;
}
.subscribe__input {
  padding: 14px 33px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.58;
  border-radius: 30px 0 0 30px;
  color: #323232;
  width: 100%;
}
.subscribe__input::-moz-placeholder {
  color: rgb(153, 153, 153);
}
.subscribe__input::placeholder {
  color: rgb(153, 153, 153);
}
.subscribe__btn {
  background: rgb(73, 133, 255);
  color: rgb(255, 255, 255);
  padding: 13px 36px 15px 36px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border-radius: 0 30px 30px 0;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}
.subscribe__sub {
  color: rgb(50, 50, 50);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.58;
  padding-top: 35px;
  opacity: 0.6;
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__icon {
  width: 15px;
  height: 15px;
}
.footer__columns {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__title {
  font-weight: 600;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}
.footer__link {
  line-height: 158%;
  color: rgb(50, 50, 50);
}
.footer__copyright {
  font-size: 13px;
  line-height: 158%;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 30px;
}

.works {
  padding-top: 100px;
  padding-bottom: 170px;
  text-align: center;
}
.works__wrapper {
  background-image: linear-gradient(to right, rgb(80, 77, 194), rgb(95, 18, 208));
  display: flex;
  justify-content: space-between;
}
.works__list {
  padding-top: 70px;
  display: flex;
  text-align: start;
  gap: 30px;
}
.works__image {
  border-radius: 10px;
  padding-bottom: 30px;
}
.works__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.58;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}
.works__span {
  color: rgb(73, 133, 255);
}
.works__desc {
  font-size: 16px;
  color: rgb(153, 153, 153);
  padding-bottom: 47px;
}
.works__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.58;
  color: rgb(73, 133, 255);
  text-decoration: underline;
}