html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-size: 14px;
  color: rgb(50, 50, 50);
  font-family: "Montserrat", sans-serif;
  line-height: 1.58;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1139px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    width: 320px;
  }
}
.button {
  background-color: rgb(73, 133, 255);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 14px 42px;
  font-weight: 500;
  font-size: 16px;
  border: 0;
  line-height: 1;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  transition: all 0.5s ease;
}
.button:hover {
  transition: all 0.5s ease;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 25px 0 #f95bf6, 0 0px 15px 0px #532cf9, inset 0 0px 20px 0px #4400ff;
}

@media (max-width: 480px) {
  .button--mobile {
    padding: 20px 70px;
    font-size: 24px;
  }
  .button--works {
    padding: 15px 50px;
    font-size: 16px;
  }
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  line-height: 1.46;
  color: rgb(50, 50, 50);
}
.title--works {
  color: rgb(255, 255, 255);
}
.title--works--color-left {
  text-align: left;
}
.title--standarts {
  text-align: left;
}

@media (max-width: 1140px) {
  .title {
    text-align: left;
  }
  .title--standarts {
    text-align: center;
  }
}
@media (min-width: 320px) {
  .title--hero {
    font-size: 20px;
  }
  .title--mobile {
    font-size: 25px;
  }
  .title--works {
    font-size: 25px;
  }
}
.header {
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid rgb(161, 161, 161);
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.315);
  background-size: cover, contain;
  background-repeat: no-repeat, repeat-x;
  background-position: center, top;
  z-index: 1;
}
@keyframes sparkle {
  from {
    text-shadow: 0 0 8px #fff700, 0 0 12px #ff00cc;
  }
  to {
    text-shadow: 0 0 20px #fff700, 0 0 24px #ff00cc;
  }
}
.header__container {
  display: flex;
  justify-content: flex-end;
}
.header__list {
  display: flex;
}
.header__link {
  padding-inline: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}
.header__link:hover {
  color: rgb(73, 133, 255);
  font-weight: 700;
  text-shadow: 0 0 5px #fff700;
}
.header__link--current::before {
  content: "";
  width: 107px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: rgb(255, 255, 255);
  bottom: -40px;
  left: 0;
}

@media (max-width: 480px) {
  .header__link {
    color: black;
  }
  .header__list {
    display: none;
  }
}
.hero {
  background-image: url(../images/desktop/hero-bg.jpg);
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 259px;
  padding-bottom: 339px;
  height: 100vh;
  text-align: center;
}
.hero__title {
  font-size: 48px;
  color: rgb(255, 255, 255);
  line-height: 1.34;
  font-weight: 800;
  padding-bottom: 50px;
}
.hero__subtitle {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
}

.mobile {
  padding: 110px 0px 105px 0px;
  text-align: center;
}
.mobile__text {
  font-size: 16px;
  text-align: center;
  color: rgb(153, 153, 153);
  font-weight: 400;
  padding-top: 32px;
}
.mobile__list {
  display: flex;
  gap: 27px;
  padding-bottom: 55px;
  padding-top: 70px;
}
.mobile__subtitle {
  font-size: 18px;
  padding-bottom: 12px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.mobile__desc {
  font-weight: 400;
  color: rgb(153, 153, 153);
}
.mobile__icon {
  width: 40px;
  height: 40px;
  fill: rgb(73, 133, 255);
}
.mobile__icon-in {
  border: 1px solid rgb(73, 133, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
}
.mobile__icon-out {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 50%;
  display: inline-block;
  padding: 9px;
  position: relative;
  bottom: 37px;
}
.mobile__item {
  display: flex;
  gap: 17px;
  text-align: left;
}

@media screen and (max-width: 1140px) {
  .mobile__item {
    flex-wrap: wrap;
    gap: 11px;
    justify-content: center;
  }
  .mobile__icon-in {
    width: 60px;
    height: 60px;
  }
  .mobile__icon-out {
    bottom: 0;
  }
  .mobile__content {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .mobile__list {
    flex-direction: column;
  }
  .mobile__icon-out {
    bottom: 0;
  }
}
.standarts {
  background-color: rgb(246, 246, 248);
  padding-top: 100px;
  padding-bottom: 70px;
}
.standarts__container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.standarts__wrapper {
  display: flex;
  gap: 121px;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 90px;
}
.standarts__link {
  text-decoration: underline;
  font-size: 16px;
  line-height: 1;
  color: rgb(73, 133, 255);
}
.standarts__desc {
  padding-top: 60px;
  padding-bottom: 42px;
  font-size: 16px;
  color: rgb(153, 153, 153);
  width: 489px;
}
.standarts__img {
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
}
.standarts__list {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.standarts__icon {
  width: 30px;
  height: 30px;
  fill: rgb(73, 133, 255);
}
.standarts__item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding-left: 20px;
}
.standarts__item-desc {
  font-size: 16px;
  color: rgb(153, 153, 153);
}

@media (max-width: 1140px) {
  .standarts__wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .standarts__txt-wrapper {
    text-align: center;
  }
  .standarts__desc {
    font-size: 25px;
    width: auto;
  }
  .standarts__link {
    font-size: 25px;
    margin: 0 auto;
  }
  .standarts__list {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .standarts__desc {
    font-size: 20px;
  }
  .standarts__link {
    font-size: 20px;
  }
  .standarts__list {
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .standarts__wrapper {
    gap: 30px;
    padding-bottom: 40px;
  }
  .standarts__desc {
    font-size: 15px;
  }
  .standarts__link {
    font-size: 15px;
  }
  .standarts__list {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .standarts__item {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .standarts__img {
    max-width: 100%;
  }
}
.projects {
  background-color: #F6F6F8;
  padding-top: 100px;
  padding-bottom: 130px;
  text-align: center;
}
.projects__text {
  margin-top: 28px;
  font-size: 16px;
  line-height: 158%;
  align-items: center;
  color: #999999;
  text-align: center;
  margin-bottom: 92px;
}
.projects__list {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.video {
  padding-top: 70px;
  margin-bottom: 170px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15)), url(../images/desktop/hero-bg.jpg);
  background-size: cover;
  height: 570px;
}
.video__desc {
  padding-top: 30px;
  line-height: 1.58;
  font-size: 16px;
  padding-bottom: 70px;
}
.video__img {
  margin: 0 auto;
  background-image: url(../images/desktop/video.png);
  width: 970px;
  height: 430px;
  border-radius: 10px;
  text-align: center;
}
.video__btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.58;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 200px;
  padding: 20px 40px;
  color: rgb(255, 255, 255);
  position: relative;
  top: 165px;
  fill: rgb(255, 255, 255);
}
.video__svg {
  background-color: rgb(73, 133, 255);
  border-radius: 50%;
}

@media screen and (max-width: 1137px) {
  .video__img {
    width: 650px;
  }
  .video__btn {
    gap: 14px;
    font-size: 14px;
  }
  .title {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .video__img {
    width: 400px;
  }
  .video__btn {
    padding: 0;
    width: 210px;
    height: 75px;
  }
}
.subscribe {
  padding-top: 85px;
  padding-bottom: 85px;
  text-align: center;
}
.subscribe__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.subscribe__desc {
  font-size: 16px;
  line-height: 1.58;
  color: rgb(153, 153, 153);
  margin-bottom: 30px;
}
.subscribe__form {
  display: block;
  width: 489px;
  background: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 40px;
  margin: 0 auto 24px;
  position: relative;
}
.subscribe__input {
  padding: 14px 33px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.58;
  border-radius: 30px 0 0 30px;
  color: #323232;
  width: 100%;
  transition: all 0.5s ease;
}
.subscribe__input::placeholder {
  color: rgb(153, 153, 153);
}
.subscribe__btn {
  background: rgb(73, 133, 255);
  color: rgb(255, 255, 255);
  padding: 13px 36px 15px 36px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border-radius: 0 30px 30px 0;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
}
.subscribe__btn:hover {
  transition: all 0.5s ease;
  background-color: transparent;
  box-shadow: 0px 0px 25px 0 #f95bf6, 0 0px 15px 0px #532cf9, inset 0 0px 20px 0px #4400ff;
  color: lightcoral;
  width: 100%;
  border-radius: 30px;
}
.subscribe__sub {
  color: rgb(50, 50, 50);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.58;
  padding-top: 35px;
  opacity: 0.6;
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: rgb(246, 246, 248);
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__icon {
  width: 15px;
  height: 15px;
  fill: rgb(50, 50, 50);
}
.footer__columns {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__title {
  font-weight: 600;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}
.footer__link {
  line-height: 158%;
  color: rgb(50, 50, 50);
}
.footer__copyright {
  font-size: 13px;
  line-height: 158%;
  text-align: center;
  color: rgb(50, 50, 50);
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .footer__columns {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
  }
  .footer__column {
    flex-basis: calc(50% - 12.5px);
    min-width: 250px;
  }
}
@media screen and (max-width: 780px) {
  .footer__columns {
    flex-direction: column;
    gap: 35px;
  }
  .footer__column {
    width: 100%;
    flex-basis: auto;
  }
}
.works {
  padding-top: 100px;
  padding-bottom: 170px;
  background-image: linear-gradient(to bottom, rgb(80, 77, 194) 50%, #FFFFFF 50%);
}
.works__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works__list {
  padding-top: 70px;
  display: flex;
  text-align: start;
  gap: 30px;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 85px;
}
.works__image {
  border-radius: 10px;
  padding-bottom: 30px;
}
.works__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.58;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}
.works__span {
  color: rgb(73, 133, 255);
}
.works__desc {
  font-size: 16px;
  color: rgb(153, 153, 153);
  padding-bottom: 47px;
}
.works__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.58;
  color: rgb(73, 133, 255);
  text-decoration: underline;
}

@media screen and (max-width: 780px) {
  .works__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .works__list {
    flex-direction: column;
  }
  .works__item {
    text-align: center;
  }
  .works__box {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .works__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .works__list {
    flex-direction: column;
  }
  .works__item {
    text-align: center;
  }
  .works__box {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}
.nav__menu {
  display: none;
}

input[type=checkbox],
label {
  display: none;
}

@media (max-width: 480px) {
  input[type=checkbox],
  label {
    display: block;
  }
  input[type=checkbox]:checked ~ .nav__menu {
    display: block;
  }
  label {
    display: block;
    height: 30px;
    position: relative;
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #000000;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
}
input[type=checkbox]:checked ~ .nav__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav__menu {
  position: absolute;
  top: 100px;
  left: 0;
  padding: 20px;
  background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(181, 241, 255));
  height: 100vw;
  width: 100vh;
}

input[type=checkbox]:checked ~ label span {
  transform: rotate(-45deg);
}

input[type=checkbox]:checked ~ label span::before {
  top: 0;
  transform: rotate(0);
}

input[type=checkbox]:checked ~ label span::after {
  top: 0;
  transform: rotate(90deg);
}

.nav__link {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.nav__link:hover {
  color: rgb(73, 133, 255);
  font-size: 45px;
}