// =================
// VARIABLES
// =================

//FONTS
$main-font: 'Montserrat', sans-serif; //MAIN FONT

//COLORS
$main-text-color: rgb(50, 50, 50);
$secondary-text-color: rgba(255, 255, 255, 1);
$title-color: rgba(0, 0, 0, 1);
$accent-color: rgba(73, 133, 255, 1);
$main-title: #323232;
$header-border: rgb(161, 161, 161);
$subtitle-color: rgb(153, 153, 153);
$subtitle-border: rgba(224, 224, 224, 1);
$box-shadow-color: rgba(111, 111, 111, 0.25);

$works-bg-color: rgba(80, 77, 194, 1);


//BACKGROUNDS
$background-color: rgba(246, 246, 248, 1);

//BORDERS
$main-border-color: rgba(224, 224, 224, 1);