// =================
// VARIABLES
// =================

//FONTS
$main-font: 'Montserrat', sans-serif; //MAIN FONT

//COLORS
$main-text-color: rgba(50, 50, 50, 1);
$secondary-text-color: rgba(255, 255, 255, 1);
$title-color: rgba(0, 0, 0, 1);
$accent-color: rgba(73, 133, 255, 1);
$main-title: rgba(50, 50, 50, 1);
$header-border: rgba(161, 161, 161, 1);
$desc-color:rgba(153, 153, 153, 1);

//BACKGROUNDS
$background-color: rgba(246, 246, 248, 1);

//BORDERS
$main-border-color: rgba(224, 224, 224, 1);
