@use '../utils/variables' as *;

// =================
// BUTTON STYLES
// =================

.button {
	background-color: $accent-color;
	color: $secondary-text-color;
	border-radius: 30px;
	padding: 14px 42px;
	font-weight: 500;
	font-size: 16px;
	border: 0;
	line-height: 1;
	box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);

}
