@use '../utils/variables' as *;

.footer{
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: $background-color;

    &__container{
        display: flex;
        flex-direction: column;
    }

    &__icon {
        width: 15px;
        height: 15px;
        fill: $main-text-color;
    }

    &__columns {
        display: flex;
        justify-content: center;
        gap: 40px;
        padding-bottom: 70px;
        border-bottom: 1px solid $main-border-color;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        color: $title-color;
        margin-bottom: 35px;
    }

    &__link {
        line-height: 158%;
        color: $main-text-color;
    }

    &__copyright {
        font-size: 13px;
        line-height: 158%;
        text-align: center;
        color: $main-text-color;
        margin-top: 30px;
    }
}

@media (max-width: 1200px) {
    .footer{

        &__container{
            width: 1200px;
            margin: 0 auto;
        }

        &__columns {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
        }

        &__column {
            flex-basis: calc((75% - 25px) / 2);
        }
    }
}

@media screen and (max-width: 780px) {
    .footer{

        &__container{
            width: 780px;
            margin: 0 auto;
        }

        &__columns {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 35px;
        }

        &__column {
            width: 100%;
        }
    }
}
