@use '../utils/variables' as *;
.header{
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid $header-border;
    position: fixed;
    width: 100vw;
    background-image: url(../images/desktop/header-dec.gif);
    background: linear-gradient(90deg,rgba(50,50,50,0.3) 44%, rgba(151,186,255,0.3) 50.34%, rgba(151,186,255,0.3) 85%, rgba(50,50,50,0.3) 91%);

    &__container{
        display: flex;
        justify-content: flex-end;
    }
    &__list{
        display: flex;
    }
    &__link{
        padding-inline: 20px;
        color: $secondary-text-color;
        font-weight: 500;
        position: relative;
        &--current::before{
            content: "";
            width: 107px;
            height: 2px;
            display: block;
            position: absolute;
            background-color: $secondary-text-color;
            bottom: -40px;
            left: 0;
        }
    }
}