@use '../utils/variables' as *;
.header{
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid $header-border;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.315);
    background-size: cover, contain;
    background-repeat: no-repeat, repeat-x;
    background-position: center, top;
    z-index: 1;

    @keyframes sparkle {
        from { text-shadow: 0 0 8px #fff700, 0 0 12px #ff00cc; }
        to { text-shadow: 0 0 20px #fff700, 0 0 24px #ff00cc; }
    }

    &__container{
        display: flex;
        justify-content: flex-end;
    }
    &__list{
        display: flex;
    }
    &__link{
        padding-inline: 20px;
        color: $secondary-text-color;
        font-weight: 500;
        position: relative;
        transition: color 0.3s;
        &:hover {
            color: $accent-color;
            font-weight: 700;
            text-shadow: 0 0 5px #fff700;
        }
        &--current::before{
            content: "";
            width: 107px;
            height: 2px;
            display: block;
            position: absolute;
            background-color: $secondary-text-color;
            bottom: -40px;
            left: 0;
            
        }
    }
}

@media (max-width: 480px) {
    .header {
        &__link {
            color: black;
        }

        &__list {
            display: none;
        }
    }
}