@use '../utils/variables' as *;

.projects {
    background-color: #F6F6F8;
    padding-top: 100px;
    padding-bottom: 130px;
    text-align: center;

    &__text {
        margin-top: 28px;
        font-size: 16px;
        line-height: 158%;
        align-items: center;
        color: #999999;
        text-align: center;
        margin-bottom: 92px;
    }

    &__list {
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
}