@use '../utils/variables' as *;

.subscribe {
    background: #fff;
    padding-top: 85px;
    padding-bottom: 85px;
    text-align: center;

    &::before {
        content: '';
        display: block;
        width: 1110px;
        height: 1px;
        background: #E0E0E0;
        margin: 0 auto 85px;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
   color: $main-text-color;
    }

    &__desc {
        font-family: $main-font;
        font-size: 16px;
        line-height: 158%;
        letter-spacing: 0;
        color: $subtitle-color;
        text-align: center;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        width: 489px;
        height: 45px;
    background: #fff;
    border: none;
    box-shadow: 0 0 10px #6F6F6F40;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 24px;

        .subscribe__input {
            flex: 1 1 auto;
            height: 100%;
            border: none;
            outline: none;
            padding-left: 33px;
            font-family: $main-font;
            font-size: 13px;
            line-height: 158%;
            letter-spacing: 0;
            background: transparent;
            color: $main-text-color;
        }

        .subscribe__btn {
            width: 190px;
            height: 100%;
            border: none;
            background: $accent-color;
            color: #fff;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0;
            text-align: center;
            border-radius: 0 40px 40px 0;
            cursor: pointer;
            transition: background 0.2s;

            box-shadow: 0 0 10px #6F6F6F40;
            &:hover {
                background: darken($accent-color, 10%);
            }
        }
    }

    &__sub {
        color: $subtitle-color;
        font-family: $main-font;
        font-size: 13px;
        line-height: 158%;
        letter-spacing: 0;
        text-align: center;
        padding-top: 35px;
        opacity: 0.6;
    }
}
