@use '../utils/variables' as *;


.subscribe {
    padding-top: 85px;
    padding-bottom: 85px;
    text-align: center;
    border-top: 1px solid $subtitle-border;


    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__desc {
        font-size: 16px;
        line-height: 1.58;
        color: $subtitle-color;
        margin-bottom: 30px;
    }

    &__form {
        display: block;
        width: 489px;
        background: $secondary-text-color;
        border: none;
        box-shadow: 0 0 10px $box-shadow-color;
        border-radius: 40px;
        margin: 0 auto 24px;
        position: relative;

    }

    &__input {
        padding: 14px 33px;
        border: none;
        outline: none;
        font-family: $main-font;
        font-size: 13px;
        line-height: 1.58;
        border-radius: 30px 0 0 30px;
        color: $main-title;
        width: 100%;
		transition: all 0.5s ease;

        &::placeholder {
            color: $subtitle-color;
        }
    }

    &__btn {
        background: $accent-color;
        color: $secondary-text-color;
        padding: 13px 36px 15px 36px;
        font-family: $main-font;
        font-size: 16px;
        border-radius: 0 30px 30px 0;
        box-shadow: 0 0 10px $box-shadow-color;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
		transition: all 0.5s ease;
	&:hover {
		transition: all 0.5s ease;
		background-color: transparent;
		box-shadow: 0px 0px 25px 0 #f95bf6, 0 0px 15px 0px #532cf9 ,inset 0 0px 20px 0px #4400ff;
        color: lightcoral;
        width: 100%;
        border-radius: 30px;
	}

    }


    &__sub {
        color: $main-text-color;
        font-family: $main-font;
        font-size: 13px;
        line-height: 1.58;
        padding-top: 35px;
        opacity: 0.6;

    }
}