@use "../utils/variables" as *;

// =================
// TITLE STYLES
// =================

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  line-height: 1.46;
  color: $main-text-color;
  &--works {
    color: $secondary-text-color;
    &--color-left {
      text-align: left;
    }
  }
  &--standarts {
    text-align: left;
  }
}

@media (max-width: 1140px) {
	.title {

		&--standarts {
			text-align: center;
		}
	}
}
@media (min-width: 320px) {
  .title {
    &--hero {
      font-size: 20px;
    }
    &--mobile {
      font-size: 25px;
    }
    &--works {
      font-size: 25px;
    }
  }
}