@use '../utils/variables' as *;

.video {
    padding-top: 70px;
    padding-bottom: 85px;
    text-align: center;
    color: $secondary-text-color;
    /* Тим часавом */
    background-image: url(../images/desktop/hero-bg.jpg);
    background-size: cover;

    &__desc {
        line-height: 1.58;
        font-size: 16px;
        padding-bottom: 70px;
    }
    &__img {
        background-image: url(../images/desktop/video.png);
        width: 970px;
        height: 430px;
        border-radius: 10px;
        text-align: center;

    }
    &__btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.58;
        background-color: transparent;
        border: 1px solid $secondary-text-color;
        border-radius: 200px;
        padding: 20px 40px;
        color: $secondary-text-color;
        /* Як поставити текст по центру? */
        position: relative;
        bottom: -165px;
    }
}