@use '../utils/variables' as *;

.video {
    padding-top: 70px;
    margin-bottom: 170px;
    border-bottom: 1px solid $main-border-color;
    text-align: center;
    color: $secondary-text-color;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15)), url(../images/desktop/hero-bg.jpg);
    background-size: cover;
    background-position: bottom;
    height: 570px;

    &__desc {
        padding-top: 30px;
        line-height: 1.58;
        font-size: 16px;
        padding-bottom: 70px;
    }

    &__img {
        margin: 0 auto;
        background-image: url(../images/desktop/video.png);
        width: 970px;
        height: 430px;
        border-radius: 10px;
        text-align: center;
        z-index: 5;
    }

    &__btn {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.58;
        background-color: transparent;
        border: 1px solid $secondary-text-color;
        border-radius: 200px;
        padding: 20px 40px;
        color: $secondary-text-color;
        position: relative;
        top: 165px;
        fill: $secondary-text-color;
    }

    &__svg {
        background-color: $accent-color;
        border-radius: 50%;
    }
}