@use '../utils/variables' as *;

.works {
    padding-top: 100px;
    padding-bottom: 170px;
    text-align: center;

    &__wrapper {
    background-image: linear-gradient(to right,rgba(80, 77, 194, 1), rgba(95, 18, 208, 1));
        display: flex;
        justify-content: space-between;
    }
    &__list {
        padding-top: 70px;
        display: flex;
        text-align: start;
        gap: 30px;
    }
    &__image{
        border-radius: 10px;
        padding-bottom: 30px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.58;
        color: $title-color;
        padding-bottom: 10px;
    }
    &__span{
        color: $accent-color;
    }
    &__desc {
        font-size: 16px;
        color: $subtitle-color;
        padding-bottom: 47px;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.58;
        color: $accent-color;
        text-decoration: underline;
    }
}