@use '../utils/variables' as *;

.works {
    padding-top: 100px;
    padding-bottom: 170px;
    background-image: linear-gradient(to bottom, $works-bg-color 50%, #FFFFFF 50%);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__list {
        padding-top: 70px;
        display: flex;
        text-align: start;
        gap: 30px;
        border-bottom: 1px solid $subtitle-border;
        padding-bottom: 85px;
    }
    &__image{
        border-radius: 10px;
        padding-bottom: 30px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.58;
        color: $title-color;
        padding-bottom: 10px;
    }
    &__span{
        color: $accent-color;
    }
    &__desc {
        font-size: 16px;
        color: $subtitle-color;
        padding-bottom: 47px;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.58;
        color: $accent-color;
        text-decoration: underline;
    }
}

@media screen and (max-width:480px) {
    .works {
        &__wrapper {
            flex-direction: column;
            gap: 30px
        }
        
        &__list {
            flex-direction: column;
        }

        &__item {
            text-align: center;
        }

        &__box {
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        
    }
}