@use '../utils/variables' as *;

body {
	font-size: 14px;
	color: $main-text-color;
	font-family: $main-font;
	line-height: 1.58;

}
.container {
	width: 1110px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (max-width: 1139px) {
	.container {
		width: 768px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 480px;
	}
}

@media screen and (max-width: 479px) {
	.container {
		width: 320px;
	}
}
