@use '../utils/variables' as *;

// =================
// GLOBAL STYLES
// =================

body {
	font-size: 14px;
	color: $main-text-color;
	font-family: $main-font;
	line-height: 1.58;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 400px) {
        width: 400px;
    }

    @media screen and (min-width: 700px) {
        width: 700px;
    }

    @media screen and (min-width: 1140px) {
        width: 1140px;
    }
}