@use '../utils/variables' as *;

body {
	font-size: 14px;
	color: $main-text-color;
	font-family: $main-font;
	line-height: 1.58;
	background-color: $subtitle-border;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 400px) {
  .container {
    width: 400px;
  }
}
@media screen and (min-width: 700px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}